.box{
height:100px;
background-color:white;
position:relative;
}

.src{
height:100px;
display:flex;
align-items:center;
position:absolute;
left:10px;
}

ul{
display:inline-box;
float:left;
}

ul{  list-style:none;
}
